/*

Important Note 1: In media queries : 1 rem = 1 em = 16 px (standard for html font size) ,  the desktop value 62.5% will not work here. 

--> convert px to rem :     Y(px) / 16 = X (px)

Important Note 2: em is similar to rem but em have problems working on some devices.

*/

/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/



/* bellow 1344px (small Desktop) */
@media (max-width: 84em)
{

    .hero
    {
        max-width: 120rem;
    }

    .heading-primary
    {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2,1fr);
    }

    .heading-3
    {
        font-size: 2.4rem;
    }

}



/* bellow 1200px (landscape tablets - tablets flipped) */
@media (max-width: 75em)
{
    html
    {
        font-size: 56.25%;   /* 9px / 16px = 0.5625 */
    }

    .grid
    {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .heading-secondary
    {
        font-size: 3.6rem;
    }

    .section-how-subheading
    {
        font-size: 2.4rem;
    }

    .header
    {
        padding: 0 3.2rem;
    }

    .nav-list
    {
        gap: 3.2rem;
    }

    .hero
    {
        gap: 4.8rem;
    }

    .testemonials-box
    {
        padding: 9.6rem 3.2rem;
    }

    .recipes
    {
        justify-self: start;
        padding-left: 0;
        padding-right: 0;
    }


}


/* bellow 944px (tablets) */

@media (max-width: 59em)
{

    html
    {
        font-size: 50%;   /* 8px /16px = 0.5 */
    }

    .mobile-nav-btn
    {
        display: block;
        z-index: 5;
    }

    .mobile-nav-open
    {
        display: block;
    }

    .hero
    {
        grid-template-columns: 1fr;
    }

    .hero-text-box
    {
        text-align: center;
    }

    .hero-img-box
    {
        text-align: center;
    }

    .hero-img
    {
        width: 60%;
    }

    .delievered-meals
    {
        justify-content: center;
    }

    .featured-logos img
    {
        height: 2.4rem;
    }

    .how-step-number
    {
        font-size: 7.4rem;
    }

    .meal-content {
        margin: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    .section-testemonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(6,1fr);
    }

    .cta
    {
        grid-template-columns: 2fr 1fr;
    }

    .cta-form
    {
        padding: 4.8rem 4.8rem 6.4rem 4.8rem;
    }

    .cta-form-box
    {
        grid-template-columns: 1fr;
    }

    .cta-form-box button
    {
        padding: 2.4rem 1.2rem;
    }

    /* nav panel on mobiles */
    .header-nav-box
    {
        background: rgba(255, 255, 255, 0.938);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: -1px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        /* we used visibility instead of "display" because display doesn't allow animation */
        display: none;
    }

    .nav-list
    {
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-list-item
    {
        font-size: 3rem;
    }

    .recipes
    {
        font-size: 1.6rem;
    }

    .feature-title
    {
        font-size: 2rem;
    }

    .feature-text
    {
        font-size: 1.6rem;
        line-height: 2rem;
    }

}

/* bellow 704px (Smaller tablets) */
@media (max-width: 44em)
{

    .grid-column-3 , .grid-column-4
    {
        grid-template-columns: 1fr 1fr;
    }

    .diet
    {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .recipes
    {
        grid-column: 1 / -1;
    }

    .heading-secondary
    {
        margin-bottom: 4.8rem;
    }

    .pricing-card
    {
        width: 100%;
    }


    .grid-footer
    {
        grid-template-columns: repeat(6,1fr);
    }

    .column-address
    {
        grid-column: 3;
    }

    .column-nav
    {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }

    .footer-column-logo , .column-address
    {
        grid-column: span 3;
    }

    .featured-logos img
    {
        height: 2rem;
    }

    
}


/* bellow 544px (phones) */
@media (max-width: 34em)
{

    .grid
    {
        row-gap: 4.8rem;
    }

    .grid-column-2 , .grid-column-3 , .grid-column-4
    {
        grid-template-columns: 1fr;
    }
    
    .btn
    {
        padding: 2.4rem 1.6rem;
    }

    .section-hero
    {
        padding: 12.8rem 0 6.4rem 0;
    }

    .hero
    {
        padding: 0 3.2rem;
    }

    .hero-img
    {
        width: 80%;
    }

    .featured-logos img
    {
        height: 1.2rem;
    }

    .how-img-box:nth-child(2)
    {
        grid-row: 1;
    }

    .how-img-box:nth-child(6)
    {
        grid-row: 5;
    }

    .how-img-box
    {
        transform: translateY(24px);
    }

    .testemonials
    {
        grid-template-columns: 1fr;
    }

    .gallery
    {
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }

    .cta 
    {
        grid-template-columns: 1fr;
    }

    .cta-form
    {
        padding: 3.2rem;
    }

    .cta-img
    {
        height: 36rem;
        grid-row: 1;
    }




}